* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body{
  background-color: #eee;
}

.header {
  background-color: rgba(154, 51, 51, 1);
  height: 22vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  
}

.image {
  border-radius: 4px;
  height: 22vh;
  width: 11vw;
}

.nav {
  width: 100vw;
  align-items: top;
  display: flex;
  justify-content: space-between;
  text-align: center;
  
}
.nav h1 {
  margin-top: 0vh;
  padding-top: 0px;
  font-size: 5vw;
  font-family: "Sansita", sans-serif;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 3px;
  background: -webkit-linear-gradient(
    rgba(255, 255, 255, 0.44),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.39)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.nav h4 {
  
  color: white;
  font-family: "Sansita", sans-serif;
  font-size: 1.25vw;
  letter-spacing: 1px;
  padding-bottom: 2px;
}

.menu {
  float: left;
  overflow: hidden;
  width: 100vw;
}

.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 25px 8px 25px;
  border: none;
  background-color: rgba(184, 129, 129, 1);
}

.topnav a {
  text-decoration: none;
  color: white;
  font-family: "Oregano", cursive;
  font-size: larger;
  transition: transform 0.2s;
}

.topnav a:hover {
  cursor: pointer;
  color: rgba(0, 0, 255, 0.487);
  transform: scale(1.5);
}

.topnav a#notice {
  text-decoration: none;
  color: yellow;
}

.icon {
  display: none;
  text-decoration: none;
}


.main-body{
  width: 98vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;
}

.alumnis li{
    padding: 1vh;
  
  
  
}

.h1fonter{
  color: rgba(154, 51, 51, 1);
  font-family: "Oregano", cursive;

}


.footer {
  background-color: rgba(165, 42, 42, 0.312);
  display: flex;
  justify-content: space-between;
  padding: 2vw;
  gap: 1vw;
  background: -webkit-linear-gradient(#9f6464, #eee, #9f6464);
  height: fit-content;
  width: 100vw;
  
}

.sitemap{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}


.backtop a {
  text-decoration: none;
  color: black;

}

/*Responsive styling starts HERE*/

@media screen and (max-width: 600px) {
  
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }


.topnav.responsive {
  
  background-color: rgba(184, 129, 129, 1);
  position: relative;
  display: flex;
  flex-direction: column;
  line-height : 5vh;
}
.topnav.responsive a.icon {
  position: absolute;
  float: right;
  right: 5%;
}

.topnav.responsive a {
  float: left;
  display: flex;
  flex-direction: column;
  text-align: left;

}




  .nav h1{
    display: block;
    
  }

  .header{
    height: 10vh;
    

  }

  .image{
    height: 10vh;
    width: 20vw;
  }

  .footer{
    flex-direction: column;
    bottom: 0;
    gap: 2vh;
    width: 100%;
    height: fit-content;

  }

  .sitemap{
    display: grid;
    gap: 2vh;
  }

}